.projects_container {
    margin: 0 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom: 4rem;
}

.projects_container-flex {
    max-width: 90rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* DECORATIONS */

.decors {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.decor {
    max-width: 5rem;
}

.top-left {
    position: relative;
    left: -2rem;
    top: .8rem;
}

.top-right {
    position: relative;
    right: -2rem;
    top: .8rem;
    transform: scaleX(-1);
}

.bottom-left {
    position: relative;
    left: -2rem;
    bottom: 1.2rem;
    transform: scaleX(-1);
    rotate: 180deg;
}

.bottom-right {
    position: relative;
    right: -2rem;
    bottom: 1.2rem;
    transform: scaleX(-1);
    rotate: 90deg;
}

/* HEADING */

.projects_container-flex h3 {
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 2rem;
}

/* SHOWCASE */

.showcase-flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.showcase {
    max-width: 75rem;
    width: 100%;
    padding: 0 2rem;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    align-items: center;
}

/* BIG IMG */

.showcase_big-img {
    width: 38rem;
    height: 28rem;
    object-fit: cover;
}

/* NAV */

.showcase_nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.showcase_nav-right {
    width: 3rem;
    cursor: pointer;
}

.showcase_nav-left {
    width: 3rem;
    cursor: pointer;
    rotate: 180deg;
    margin-right: 1rem;
}

.disabled {
    opacity: .3;
}

/* SMALL IMG */

.showcase_small{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.showcase_small-img {
    width: 13rem;
    height: 18rem;
    object-fit: cover;
    object-position: 50% 50%;
}