.projects_container {
    margin: 0 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom: 4rem;
}

.projects_container-flex {
    max-width: 90rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* DECORATIONS */

.decors {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.decor {
    max-width: 5rem;
}

.top-left {
    position: relative;
    left: -2rem;
    top: .8rem;
}

.top-right {
    position: relative;
    right: -2rem;
    top: .8rem;
    transform: scaleX(-1);
}

.bottom-left {
    position: relative;
    left: -2rem;
    bottom: 1.2rem;
    transform: scaleX(-1);
    rotate: 180deg;
}

.bottom-right {
    position: relative;
    right: -2rem;
    bottom: 1.2rem;
    transform: scaleX(-1);
    rotate: 90deg;
}

/* HEADING */

.projects_container-flex h3 {
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 2rem;
}

/* SHOWCASE */

.showcase-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.showcase {
    height: 33rem;
    margin: 0 2rem;
    width: 100%;
}

/* BIG IMG */

.showcase_big-img {
    position: absolute;
    top: 10rem;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 38rem;
    height: 28rem;
    object-fit: cover;
}

.showcase_big-txt-triangle {
    position: absolute;
    bottom: 9.2rem;
    left: -23.2rem;
    right: 0;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0);
    width: 0;
    height: 0;
    border-bottom: 6.9rem solid var(--main-bg);
    border-right: 16rem solid transparent;
}

.showcase_big-txt {
    position: absolute;
    width: 7rem;
    bottom: -6.2rem;
    left: 1rem;
    right: 0;
    margin: 0 auto;
}

/* NAV */

.showcase_nav {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 5rem;
    left: -31rem;
    right: 0;
    margin: 0 auto;
}

.showcase_nav-right {
    width: 3rem;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}

.showcase_nav-left {
    width: 3rem;
    cursor: pointer;
    rotate: 180deg;
    margin-right: 1rem;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}

.showcase_nav-left:hover,
.showcase_nav-left:focus,
.showcase_nav-left:active,
.showcase_nav-right:hover,
.showcase_nav-right:focus,
.showcase_nav-right:active {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
}

.disabled {
    opacity: .3;
}

/* RESPONSIVENESS */

@media only screen and (min-width: 1200px) {

    .showcase {
        height: 38rem;
    }

    .showcase_big-img {
        width: 54rem;
        height: 33rem;
        object-position: 50% 50%;
    }

    .showcase_big-txt-triangle {
        left: -38.5rem;
        bottom: 8.8rem;
    }

    .showcase_big-txt {
        left: .3rem;
    }

    .showcase_nav {
        bottom: 5rem;
        left: -47.5rem;
    }
}

@media only screen and (max-width: 830px) {

    .showcase {
        height: 39rem;
    }

    .showcase_big-img {
        height: 32rem;
        width: 70vw;
    }

    .showcase_big-txt-triangle {
        transform: translateX(-.9rem);
        left: -35%;
        bottom: 9.8rem;
        margin: 0 auto;
        border-bottom: 10.9rem solid var(--main-bg);
        border-right: 19rem solid transparent;
    }

    .showcase_big-txt {
        transform: translate(1.2rem, 2.7rem);
    }

    .showcase_nav {
        width: 100%;
        bottom: 3.5rem;
        left: 0;
        opacity: .7;
    }

    .showcase_nav-right {
        width: 7rem;
        margin-left: 3rem;
    }

    .showcase_nav-left {
        width: 7rem;
    }
}

@media only screen and (max-width: 760px) {

    .showcase_big-txt-triangle {
        transform: translateX(-.9rem);
        left: -35%;
        bottom: 10.8rem;
        margin: 0 auto;
        border-bottom: 9.9rem solid var(--main-bg);
        border-right: 15rem solid transparent;
    }

    .showcase_big-txt {
        width: 5.5rem;
        margin-left: 4vw;
        transform: translate(-.5rem, 2.6rem);
    }

    .showcase_nav {
        width: 100%;
        bottom: 3.5rem;
        left: 0;
        opacity: .7;
    }

    .showcase_nav-right {
        width: 7rem;
        margin-left: 3rem;
    }

    .showcase_nav-left {
        width: 7rem;
    }
}

@media only screen and (max-width: 550px) {

    .showcase {
        height: 33rem;
    }

    .showcase_big-img {
        top: 12rem;
        height: 25rem;
        object-position: 52% 50%;
    }

    .showcase_big-txt-triangle {
        border: none;
    }

    .showcase_big-txt {
        top: -30rem;
        width: 20rem;
        left: -21vw;
    }

    .showcase_nav {
        bottom: 4rem;
    }

}