/* GENERAL */

.overlap {
    display: flex;
    flex-direction: column;

}

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 50;
}

.container-flex {
    margin: 0 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* HEADING */

.hero_container-heading {
    max-width: 100rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 2rem;
}

.hero_container-heading-mid h3 {
    font-size: 60px;
    font-weight: 400;
}

.hero_container-heading-grid-lower {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.hero_container-heading-big h1 {
    text-align: right;
    line-height: 90px;
    font-size: 85px;
    font-weight: 500;
}

.hero_container-heading-small {
    display: flex;
    align-items: center;
}

.hero_container-heading-small p {
    font-size: 18px;
    max-width: 10rem;
    line-height: 20px;
    font-weight: 300;
}

/* HERO IMG */

.hero_container-triangle-upper {
    position: absolute;
    right: 13%;
    background-color: rgba(0, 0, 0, 0);
    width: 0;
    height: 0;
    border-left: 6rem solid transparent;
    border-right: 6rem solid transparent;
    border-top: 3.8rem solid var(--main-bg);
}

.hero_container-triangle-lower {
    transform: translateY(-14.5rem);
    left: 2rem;
    background-color: rgba(0, 0, 0, 0);
    width: 0;
    height: 0;
    border-bottom: 14.3rem solid var(--main-bg);
    border-right: 18rem solid transparent;
}

.hero_container-img img {
    width: 95vw;
    max-width: 100rem;
    max-height: 32rem;
    object-fit: cover;
    object-position: 5% 95%;
}

.hero_container-txt {
    position: absolute;
    transform: translateY(-4.1rem);
}

.hero_container-txt h3 {
    font-size: 27px;
    font-weight: 200;
}

.hero_container-txt p {
    font-size: 27px;
    font-weight: 400;
}

/* RESPONSIVENESS */

@media only screen and (max-width: 900px) {

    .hero_container-triangle-lower {
        transform: translateY(-10rem);
        border-bottom: 10.3rem solid var(--main-bg);
    }
}

@media only screen and (max-width: 750px) {

    .hero_container-img img {
        height: 50vh;
        object-fit: cover;
        object-position: 80%;
    }
}

@media only screen and (max-width: 700px) {

    .hero_container-heading-grid-lower {
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }

    .hero_container-heading-small {
        position: absolute;
        left: .5rem;
        top: 9.9rem;
        width: 7rem;
    }

    .hero_container-heading-small p {
        font-size: 18px;
    }
}

@media only screen and (max-width: 560px) {

    .hero_container-heading-small {
        width: 5.5rem;
    }

    .hero_container-heading-small p {
        font-size: 15px;
    }

    .hero_container-triangle-lower {
        transform: translateY(-7rem);
        border-bottom: 7.3rem solid var(--main-bg);
    }
}