/* NAV STATIC */

.nav {
  z-index: 100;
}

.nav_static {
  padding: 2.5rem 2rem;
  height: 7rem;
  display: flex;
  justify-content: space-between;
}

.nav-logo {
  height: 3.2rem;
  transform: translateY(-1.3rem);
}

.nav-main img {
  width: 4rem;
  transform: translateY(-1.1rem);
  cursor: pointer;
}

/* NAV POP */

.nav_pop-inner {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.795);
  height: 4.5rem;
  transition: 0.3s ease;
}

.nav_pop-inner a {
  text-decoration: none;
  color: var(--white);
  font-size: 25px;
  font-weight: 400;
}

.hidden {
  transform: translateY(-3.5rem);
  height: 0;
}

/* CONTACT & POP */

.nav-contact {
  width: 2rem;
}

.nav-contact-txt {
  width: 6rem;
  padding: 0.2rem 1.1rem;
  position: relative;
  z-index: 300;
  right: 4rem;
  cursor: pointer;
  border: 1.9px solid var(--txt);
  background-color: var(--main-bg);
  border-radius: 2rem;
  transform: translateY(-0.2rem);
}

.nav-contact-txt-wide {
  font-size: 21px;
  font-weight: 400;
}

.nav-contact-txt-narrow {
  display: none;
}

.nav-contact-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  color: var(--txt);
  overflow: hidden;
}

.nav-contact-item h4 {
  margin-left: 1rem;
  font-size: 32px;
  font-weight: 400;
}

.force-inline {
  white-space: nowrap;
}

.off {
  transform: translateY(0.4rem);
}

.nav-contact-bg {
  width: 22rem;
  height: 14.5rem;
  position: relative;
  top: -4.6rem;
  right: 20rem;
  margin-top: 2.3rem;
  margin-right: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 2rem;
  background-color: rgba(0, 0, 0, 0.795);
  border-radius: 20px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(12.9px);
  -webkit-backdrop-filter: blur(12.9px);
  border: 1px solid var(--txt);
  transition: 0.3s;
  z-index: 100;
}

.nav-contact-bg a {
  color: var(--white);
}

.nav-contact-bg img {
  filter: brightness(0) invert(1);
}

.clickedBg {
  width: 12rem;
  height: 7rem;
  position: relative;
  top: -4.6rem;
  right: 10rem;
  opacity: 0;
}

.clicked {
  opacity: 0;
  pointer-events: none;
}

/* RESPONSIVENESS */

@media only screen and (max-width: 700px) {
  .nav_static {
    height: 5.5rem;
  }
}

@media only screen and (max-width: 600px) {
  .nav_pop-inner a {
    font-size: 4vw;
  }

  .nav_static {
    padding: 2.5rem 0.75rem;
  }

  .nav-contact-txt {
    right: 1rem;
  }

  .nav-contact-txt {
    width: 3.1rem;
    height: 3.1rem;
    padding: 0;
    border-radius: 100%;
    border: 1px solid var(--txt);
    transform: translateY(-1.2rem);
  }

  .nav-contact-bg {
    padding-left: 1.2rem;
    margin-right: 1rem;
    margin-top: 1.3rem;
    border-radius: 30px;
    top: -5.6rem;
    right: 19.9rem;
  }

  .clickedBg {
    right: 9.9rem;
  }

  .nav-contact-txt-wide {
    display: none;
  }

  .nav-contact-txt-narrow {
    transform: translate(0.15rem, 0.05rem);
    color: var(--txt);
    height: 4rem;
    display: block;
  }

  .phone {
    height: 3rem;
    font-size: 50px;
  }
}

@media only screen and (max-width: 500px) {
  .nav-contact-bg {
    width: 17.5rem;
    height: 10.5rem;
    top: -5.6rem;
    right: 15.4rem;
  }

  .nav-contact-bg h4 {
    font-size: 1.25rem;
  }

  .clickedBg {
    width: 6rem;
    height: 4rem;
    right: 3.9rem;
  }
}
